<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-select interface="action-sheet" (ngModelChange)="selectedlang()" [(ngModel)]="fromLang">
              <ion-select-option *ngFor="let item of languageOptions | keyvalue"
                [value]="item.value">{{item.key}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="auto">
        <ion-button icon-only></ion-button>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-select interface="action-sheet" (ngModelChange)="selectedlang()" [(ngModel)]="tolang">
              <ion-select-option *ngFor="let item of languageOptions | keyvalue"
                [value]="item.value">{{item.key}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>